@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

p,
span {
  color: #fff;
}
body {
  background-color: #1a1a27;
}

/* custom search input */
.custom-input .ant-input::placeholder {
  color: #465270; /* Default placeholder color */
}
.custom-input:hover .ant-input::placeholder {
  color: #465270; /* Color when hovering */
  opacity: 1; /* Ensure opacity is set for visibility */
}

/* custom icon inside search input */
.custom-icon {
  color: #465270; /* Default color */
}
.custom-icon:hover {
  color: #465270; /* Color on hover */
}

/* custom select */
.custom-select .ant-select-selector {
  background-color: #1a1a27; /* Change background color */
}

.ant-input-affix-wrapper {
  background-color: #1a1a27 !important;
}
.ant-input-affix-wrapper:hover {
  background-color: #1a1a27;
}

.ant-input-affix-wrapper:focus {
  background-color: #1a1a27;
}

.ant-input-affix-wrapper:focus-within {
  background-color: #1a1a27;
}

.ant-select-selector {
  background-color: #1a1a27 !important;
  color: #bcbbca !important;
}

.ant-select-selector:required:invalid {
  color: red !important;
}

.ant-skeleton {
  border-radius: 10px;
}

.ant-select-selection-placeholder::after {
  color: red;
}

.ant-tabs-tab-btn {
  color: #465270;
  font-size: "20px";
  line-height: "28px";
  font-weight: 600;
}
